<html>

<head>

    <title>
        <%=title%>
    </title>
</head>

<body>
    <%- include('../partials/_header'); %>
    <!-- <h1>codeial/ <%=title%></h1> -->
   
    <h1>user created new  <%=posts%></h1>
    <%- include('../partials/_footer'); %>
</body>



</html>